@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Be Vietnam Pro', sans-serif;
}

.nav-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}

.lista-monitores{
    display: none;
}

.primera-parte{
    padding: 30px 50px;
    text-align: right;
}

#hombre{
    width: 82vw;
    height: auto;
    margin-bottom: 80px;
}

#titulo{
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 20px;
}

#texto-titulo{
    font-size: 16.56px;
    font-weight: bold;
    padding-bottom: 20px;
    line-height: 25px;
}

.contact{
    width: 134px;
    height: 44px;
    background-color: #8B48BF;
    color: white;
    border: none;
    border-radius: 50px;
}

.segunda-parte{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #3CDDF3;
    text-align: left;
    gap: 50px;
    padding: 30px 20px;
    color: white;
}

#titulo2{
    font-size: 36px;
    font-weight: bold;
}

#texto-titulo2{
    line-height: 23px;
}

.tercera-parte{
    padding: 60px 0;
}

.partes{
    padding-left: 30px;
}

.parte-arriba{
    display: flex;
    flex-wrap: wrap;
    height: 43px;
    position: relative;
}

.numeracion{
    display: flex;
    flex-wrap: wrap;
    width: 69px;
    height: 100%;
    background-color: #8B48BF;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-weight: bold;
    font-size: 14px;
    position: absolute;

}

.titulo-partes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(139, 72, 191, 0.3);
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    height: 100%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.titulo-partes p{
    padding-left: 90px;
}

.descripcion-parte{
    padding-right: 10px;
    font-size: 15px;
    color: #B3B2B7;
    line-height: 25px;
    margin: 20px 10px;
}

.mejor{
    font-size: 39px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 80px;
}

.persona{
    background-color: #FAFAFA;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 20px;
}

.img-persona{
    border-radius: 50px;
    width: 17vw;
    height: auto;
    position: relative;
    top: -35px;
}

.persona p{
    font-size: 3vw;
    text-align: center;
    font-weight: bold;
    padding-bottom: 15px;
}

.texto-persona{
    color: #B9B9C1;
    line-height: 25px;
}

.texto-mejores{
    padding: 0 15px;
}

.nombre-mejores{
    position: relative;
    top: -3px;
}

.cuarta-parte{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
}

.quinta-parte{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3CDDF3;
    color: white;
    padding-bottom: 30px;
}

.quinta-parte p{
    font-size: 12vw;
    font-weight: bold;
    text-align: center;
    padding: 40px 70px;
}

#go-for-it{
    width: 35vw;
    height: 6vh;
    background-color: #232C50;
    color: white;
    text-align: center;
    border: none;
    border-radius: 50px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1E1E26;
    padding: 35px;
}

.formulario, .boton-go{
    border-radius: 50px;
    height: 44px;
    border: none;
}

.formulario{
    width: 55vw;
    padding-left: 10px;
}

.boton-go{
    width: 13vw;
    background-color: #8B48BF;
    color: white;
}

.listas-footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 35px 0;
}

.lista-1, .lista-2{
    list-style: none;
    color: white;
    font-size: 3vw;
    line-height: 28px;
}

.logos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
}

.redes-sociales, .logo-final{
    width: 5vw;
}

.sportit-final{
    width: 15vw;
}

.logo-footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 40px;
    gap: 5px;
}

#copyright{
    color: #8C8C94;
    font-size: 2.5vw;
    width: 100%;
    text-align: center;
}

#boton-contacto-monitores{
    display: none;
}

/*tablets*/
@media only screen and (min-width: 601px) and (max-width: 1024px) {

    #hombre{
        width: 65vw;
    }

    .contact{
        width: 155px;
        height: 60px;
        font-size: 15px;
    }

    .segunda-parte{
        background-color: #8B48BF;
    }

    .descripcion-parte, .titulo-partes, #texto-titulo2, #texto-titulo, ul li, #copyright{
        font-size: 17px
    }
    
    .boton-go, #go-for-it{
        font-size: 15px
    }

    .formulario{
        font-size: 14px;
    }

    .quinta-parte p{
        font-size: 50px;
        padding: 30px 70px;
    }

    .quinta-parte{
        height: 45vh;
    }

    .redes-sociales{
        width: 30px;
    }

    .logo-final{
        width: 35px;
        height: 35px;
    }

    .sportit-final{
        height: 4vh;
        width: auto;
    }

    .persona p{
        font-size: 18px;
    }

    .img-persona{
        width: 100px;
    }

}

/*laptops y monitores pequeños*/
@media only screen and (min-width: 1025px) and (max-width: 1440px) {

    #hombre{
        width: 40vw;
    }

    #barras-menu{
        display: none;
    }

    .lista-monitores{
        display: block;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .lista-monitores li{
        font-size: 15px;
        font-weight: bold;
    }

    .nav-bar{
        justify-content: space-around;
        padding: 60px 50px;
    }

    #boton-contacto-monitores{
        display: block;
        width: 134px;
        height: 44px;
        background-color: #8B48BF;
        color: white;
        border: none;
        border-radius: 50px;
    }

    .contact{
        width: 155px;
        height: 60px;
        font-size: 15px;
    }

    .segunda-parte{
        background-color: #8B48BF;
    }

    .descripcion-parte, .titulo-partes, #texto-titulo2, #texto-titulo, ul li, #copyright{
        font-size: 17px
    }
    
    .boton-go, #go-for-it{
        font-size: 15px
    }

    .formulario{
        font-size: 14px;
    }

    .quinta-parte p{
        font-size: 50px;
        padding: 30px 70px;
    }

    .quinta-parte{
        height: 45vh;
    }

    .redes-sociales{
        width: 30px;
    }

    .logo-final{
        width: 35px;
        height: 35px;
    }

    .sportit-final{
        height: 4vh;
        width: auto;
    }

    .persona p{
        font-size: 18px;
    }

    .img-persona{
        width: 100px;
    }
}

/*monitores grandes*/
@media only screen and (min-width: 1441px) {
    
}



