@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
    background-color: #FFFFE0;
}

#foto {
    display: block;
    margin: 0 auto;
    width: 120px;
    border-radius: 50%; 
    width: 150px;
    height: 150px;
    object-fit: cover; 
}

header{
    background-color:pink;
}

h1{
    text-align: center;
}

.color-titulos{
    color: palevioletred;
}

span{
    font-weight:bold;
    color: black;
}


nav {
    width: 100%;
    background-color: pink;
}

nav a {
    text-align: center;
    margin-left: 37rem;
}

footer{
    text-align: center;
    background-color: pink;
    
}

footer a {
    text-decoration: none;
    margin: 3px; 
}

p{
    margin-left: 2rem;
    margin-top: 0.3rem;
}

#espacio{
    margin-bottom: 2rem;
}

#gato{
    width: 250px;
    margin-left: 32rem;
}